{% load static %}
<!DOCTYPE html>
<html lang="en" class="dashboard">

<head>
    <meta charset="UTF-8" />
    <title> student_dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/teacher_dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/doing_quiz.css' %}" />
</head>

<body>
    <header role="banner">
        <a href="#">
            <h1>Student_dashboard</h1>
        </a>


        <ul class="utilities">
            <li class="users"><a href="#">My Account</a></li>
            <li class="logout warn"><a href="/logout">Logout</a></li>
        </ul>
    </header>


    <main role="main">
       

    </main>

    <script src="{% static 'assets/js/doing_quiz.js' %}"></script>
</body>

</html>