<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Edu-quiz</title>
 <link rel="stylesheet" href="{% static 'css/base_teadashboard.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div class="nav-wrap" ng-app="maiNav" ng-controller="navCtrl">
    <div class="nav-body minimized">
      <div class="logo-area">
        <div class="logo">
          <label for="">Edu-quiz</label>
        </div>
      </div>
      <div class="search"></div>
      <div class="nav-list">
        <ol class="nav-group">
          <li class="nav-item" ng-click="selected=1" ng-class="{'active': selected == '1'}"><a class="dash" href=""> 
              <div class="icon-active"></div>
              <div class="icon"></div><span>Dashboard</span></a></li>
          <li class="nav-item" ng-click="selected=2" ng-class="{'active': selected == '2'}"><a class="assignments" href=""> 
              <div class="icon-active"></div>
              <div class="icon"></div><span>Assignments</span></a></li>
          <li class="nav-item" ng-click="selected=3" ng-class="{'active': selected == '3'}"><a class="library" href=""> 
              <div class="icon-active"></div>
              <div class="icon"></div><span>Assessment Library</span></a></li>
          <li class="nav-item" ng-click="selected=4" ng-class="{'active': selected == '4'}"><a class="my-assessments" href=""> 
              <div class="icon-active"></div>
              <div class="icon"></div><span>My Assessments</span></a></li>
          <li class="nav-item" ng-click="selected=5" ng-class="{'active': selected == '5'}"><a class="reports" href=""> 
              <div class="icon-active"></div>
              <div class="icon"></div><span>Reports</span>
              <div class="submenu" ng-show="selected == 5"></div></a></li>
          <li class="nav-item" ng-click="selected=6" ng-class="{'active': selected == '6'}"><a class="classes" href=""> 
              <div class="icon-active"></div>
              <div class="icon"></div><span>My Classes</span></a></li>
        </ol>
      </div>
      <div class="help"></div>
      
      <div class="user-area"></div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <div class="content">
   
  </div>
</body>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js'></script>
<script  src="{% static 'js/base_teadashboard.js' %}"></script>

</body>
</html>
