{% load static %}
<!DOCTYPE html>
<html lang="en" class="dashboard">

<head>
  <meta charset="UTF-8" />
  <title>Teacherdash_board</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/return_score.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/table-return.css' %}" />




</head>

<body>
  <header role="banner">
    <a href="{% url 'teacher_dashboard' %}">
      <h1>Teacherdash_board</h1>
    </a>


    <ul class="utilities">
      <li class="users"><a href="#">My Account</a></li>
      <li class="logout warn"><a href="/logout">Logout</a></li>
    </ul>
  </header>

  <nav role="navigation">
    <ul class="main">
      <!-- <li class="dashboard"><a href="#">Dashboard</a></li> -->
      
      <!-- <li class="edit"><a href="{% url 'create_quiz' %}">สร้างแบบทดสอบ</a></li> -->
      <li class="comments"><a href="{% url 'reply_score' %}">ตอบกลับคะแนน</a></li>
      <!-- <li class="users"><a href="#">Manage Users</a></li> -->
    </ul>
  </nav>

  <main role="main">
 

  </main>

  <script src="./script.js"></script>
</body>

</html>

<div class="question">
  <label for="q_1">1.</label>
  <input type="text" name="q_1" id="q_1" class="quiz-form__question" required="">
  <div class="quiz-form__ans">
    <input type="text" name="1_short_1" placeholder="Answer 1" required="">
    <svg width="24" height="24" viewBox="0 0 24 24" class="delete_choice" fill="#5c626f">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path></svg></div><div class="quiz-form__ans">
        <input type="text" name="1_short_2" placeholder="Answer 2" required="">
        <svg width="24" height="24" viewBox="0 0 24 24" class="delete_choice" fill="#5c626f">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path></svg></div><div class="quiz-form__ans">
            <input type="text" name="1_short_3" placeholder="Answer 3" required="">
            <svg width="24" height="24" viewBox="0 0 24 24" class="delete_choice" fill="#5c626f">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path></svg></div><div class="quiz-form__ans"><input type="text" name="1_short_4" placeholder="Answer 4" required=""><svg width="24" height="24" viewBox="0 0 24 24" class="delete_choice" fill="#5c626f"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div><div class="quiz-form__ans"><input type="text" placeholder="Add Answer"></div><div class="footer"><div class="point"><input type="number" name="1_point" required="" min="0"><span>points</span></div><div class="footerBtns"><button type="button" class="duplicateBtn shortDuplicateBtn">Duplicate</button>
      <button type="button" class="deleteBtn">Delete</button></div></div></div>